{{ form_start(form, {'attr': {'class': 'test-form'}, 'action': path('editContact'), 'method' : 'POST' }) }}
{{ form_widget(form) }}
<button type="submit" class="modal-button"><i class="fas fa-arrow-alt-circle-right"></i> Mettre à jour</button>
{{ form_end(form) }}