{% form_theme form _self %}

{% block _my_proto %}
    <div class="floating-label">
        {#{{ form_widget() }}#}
        <span class="highlight"></span>
        {#{{ form_label() }}#}
    </div>
{% endblock %}