<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>{{ message | nl2br }}</div>

<div><img src="{{ signature }}" alt="patrick gindre" /></div>
</body>
</html>