/** SHOW ONE SHOP **/

.contacts-container {

}

.icon-contact-edit-container {
    display: flex;
    justify-content: space-around;
}

.icon-contact-main {
    color: gold;
}


/** MESSAGES **/


.message-content {
    /*width: 50%;*/
    border-radius: 8px;
    background-color: #28a745;
}

.message-content.inverse {
    order: -1;
    background-color: #5eb5e0;
}
