.menu-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 2%;
    background: #4E4E4E;
    height: 100%;
    top: 0;
    left: 0;
    transition: width .5s ease-in-out;
}

.burger {
    margin-top: 1em;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.line-1, .line-2, .line-3 {
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    position: absolute;
    left: 0;
    transition: all .5s ease-in-out;
}

.line-1 {
    top: 2px;
}

.line-2 {
    top: 10px;
}

.line-3 {
    bottom: 0;
}

.burger.active .line-2 {
    display: none;
}

.burger.active .line-1 {
    transform: rotate(405deg);
    top: 10px;
}

.burger.active .line-3 {
    transform: rotate(-405deg);
    top: 10px;
}

.menu-container.active {
    width: 20%;
}

ul.menu-content {
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 2em;
    list-style: none;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-in-out;
}

.menu-content.show {
    width: 90%;
    opacity: 1;
    visibility: visible;
    padding: 0;
    margin:  2em auto;
}

.navigation {
    width: 100%;
    padding-left: 5%;
}

span.nav-name {
    padding-left: 10px;
}

.menu-content > li {
    line-height: 35px;
    cursor: pointer;
}

.menu-content a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: none;
}

.menu-content  a:hover {
    color: #C4C978;
    cursor: pointer;
    text-decoration: none;
}

ul.sub-nav-content {
    list-style: none;
    font-size: 0.8em;
    text-transform: none;
    display: none;
}

ul.sub-nav-content.active {
    list-style: none;
    font-size: 0.8em;
    text-transform: none;
    display: block;
}

ul.sub-nav-content > li {
    line-height: 35px;
    cursor: pointer;
    margin-left: -7px;
}

ul.sub-nav-content a:hover {
    color: #C4C978;
}

.content {
    transition: transform .5s ease-in-out;
}

.content.push {
    transform: translateX(18.4%);
}